{% extends "admin/base.html" %}

{% block title %}{{ title }} | PimPamTest admin{% endblock %}

{% block branding %}
  <div id="site-name"><a href="{% url 'admin:index' %}">PimPamTest admin</a></div>
{% endblock %}

{% block nav-global %}
  <a href="{% url 'exercise_create' %}" style="margin-left: 1rem;">Crear exercici</a>
  <a href="{% url 'exercise_import' %}" style="margin-left: 1rem;">Importar JSON</a>
  <a href="{% url 'exercise_dedupe' %}" style="margin-left: 1rem;">Netejar duplicats</a>
{% endblock %}
